.root{
  -dark-blue: #22223B;
}

.cardButton{
  -fx-background-color: #22223B;
}

.cardButton:hover {
  -fx-cursor: hand;
}

.doneButton:hover{
  -fx-background-color: #C9CBA3;
}

.deleteButton:hover{
  -fx-background-color: #E26D5C;
}

.editButton:hover{
  -fx-background-color: #FFE1A8;
}