.root{
  -dark-blue: #22223B;
  -red: #E26D5C;
  -green:#C9CBA3;
}

.mainGrid{
  max-height: "-Infinity";
  max-width: "-Infinity";
  min-height: "-Infinity";
  min-width: "-Infinity";
  height: 1280px;
  width: 720px;
  -fx-background-color: -dark-blue;
  -fx-vgap: 15;
  -fx-padding: 15;
}

.cardButton{
  -fx-background-color: -dark-blue;
}

.cardButton:hover {
  -fx-cursor: hand;
}

.doneButton:hover{
  -fx-background-color: -green;
}

.deleteButton:hover{
  -fx-background-color: -red;
}